html * {
  color: #000 !important;
  font-family: Dubiel !important;
}

.logo {
  width: 50px;
  height: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #dfdfdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: auto;
  border-bottom: 0px;
}
.article-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
}

.nav-bar {
  display: flex;
}

nav {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

nav a:link,
nav a:active,
nav a:visited {
  font-weight: 800;
  text-decoration: none;
  color: #444;
}

nav a:hover {
  color: #174276;
  padding-bottom: 1px;
  border-bottom: 1px solid #174276;
}

.navLink {
  width: 100px;
  padding-top: 15px;
}

.article-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
}
.article-card a:hover {
  background-color: #dfdfdf;
  opacity: 1;
}

.article-card:hover {
  background-color: #dfdf;
  opacity: 1;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(38, 102, 175); /* Green */
  border: none;
  color: white;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.form {
}

.filter {
}

.nav-bar {
  align-items: center;
}
